

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #130b5f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

.job {
    margin: 20px 0;
}

h2 {
    background-color: #130b5f;
    color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
